quill
*.o
conf
*.eps
*.png
*.gif
*.swp
*.pyc
res*/
quill3d/file*.conf
quill3d/a.out
quill3d/job.sh.*
quill3d/nohup*.out
*.so
quill3d/.d
quill3d-conf/quill.conf*
*.ipynb
quill3d/_deps
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
