# Общий вид строк: имя_переменной = [значение] [размерность]
# значение (double) или размерность (string) можно не указывать
# Пробелы и части строк, следующие за '#', игнорируются

# число вычислительных потоков
#n_sr = 16 # default: 8

# шаги численной сетки; если задан dt, но не задан dx, то dx
# вычисляется автоматически так, чтобы алгоритм NDFX давал наименьшую
# дисперсию, но был устойчив; если dt не задан, то он вычисляется как
# половина критического для данной плотности шага по времени, после dx
# вычисляется автоматически по dt и ne, как написано выше
dt = 0.015 # lambda
# dx = 0.1 # lambda
dy = 0.2 # lambda
dz = 0.2 # lambda

# длина волны лазерного импульса
lambda = 0.91 um # default: cm; possible: um; lambda_p

# концентрация электронов; используется при добавлении частиц при
# включенном движущемся окне, а также при расчёте шага по x, если он
# не задан явно
ne = 100 ncr # default: cm^{-3}; possible: ncr

# массивы координат и относительных значений концентрации плазмы,
# задающие продольный профиль плазмы при добавлении частиц
ne_profile_x_coords = [5;10;20] lambda # default: lambda; possible: um
ne_profile_x_values = [0.3;0.5;1.0] # default: unitless

# массивы координат и относительных значений концентрации плазмы,
# задающие поперечный осесимметричный профиль при добавлении частиц
ne_profile_r_coords = [0;1] lambda # default: lambda; possible: um
ne_profile_r_values = [0.0;1.0] # default: unitless

# размеры области моделирования
xlength = 18 # default: lambda; possible: um, fs
ylength = 18 # default: lambda; possible: um
zlength = 18 # default: lambda; possible: um

# Можно задать несколько пар t_end, output_period, при этом на отрезке
# [0,t_end_1] будет использоваться output_period_1 и т. д.
# время моделирования
t_end = 3 # default: lambda; possible: um, mm, cm
# период вывода данных в файл
output_period = 1 # default: lambda; possible: um, mm, cm, t_end
#
t_end = 7
output_period = 0.2
t_end = 12
output_period = 1
# время, при котором добавление частиц (при mwindow == on) на передней границе прекращается
#t_add_mw = 60 # default = t_end, in lambda; possible: um, mm, cm

# По умолчанию лазерные импульсы распространяются к центру области (или к "цели", если заданы xtarget, ytarget, ztarget);
# величины, задающие лазерный импульс (например, a0y, a0z), относятся
# к координатам x', y', z', где ось x' направлена по движению
# лазерного импульса. Вектора x', y', z' образуют правую тройку, при
# этом y' лежит в плоскости xy, а z' - в полупространстве z>0
# (исключение: в случае, если x' параллелен z, то y' совпадает с y и
# z' лежит в плоскости xy).
# тип огибающей лазерного импульса
f_envelope = focused # default: cos, possible: focused, sscos, focussedSSC, pearl, tophat
# по умолчанию лазерные импульсы распространяются к центру области
# моделирования (если не заданы ytarget, ztarget); b_sign = -1 меняет направление 
# магнитного поля импульсов и, следовательно, их направление распространения на
# противоположное
b_sign = 1 # default: 1, possible: -1
# поляризация лазерного импульса; в случае эллиптической поляризации
# необходимо задать значение - отношение a0z к a0y=a0; эллиптическая
# поляризация будет задана корректно только в том случае, если задано
# a_0, а не P, I, W и т. п.
polarization = 0.5 elliptic # default: linear; possible: circular, elliptic
# размеры лазерного импульса (в перетяжке)
xsigma = 2.8 # default: lambda; possible: um, fs
ysigma = 2.8 # default: lambda; possible: um
zsigma = 2.8 # default: lambda; possible: um
# координаты центра лазерного импульса относительно центра области (или "цели", если заданы xtarget, ytarget, ztarget)
x0 = -4 # default: lambda; possible: um, fs
y0 = 3 # default: 0; default units: lambda; possible: um
z0 = 3 # default: 0; default units: lambda; possible: um
# r0, theta - положение импульса в полярной сист.коорд. в пл. XY,
# при этом r0 отсчитывается от "цели" (должно быть больше 0),
# вместо x0 - r0*cos(theta), вместо y0 - r0*sin(theta),
#r0 = 3.76      # default: lambda; possible: um
#theta = 30 deg # default: 0; default units: rad, possible: deg
# xtarget, ytarget, ztarget - смещение (относительно центра) точки, в направлении которой распространяется лазерный импульс
# Пример: если ytarget = 5, лазерный импульс будет располагаться "выше" центра на 5 lambda
#xtarget = 0     # default: lambda; possible: um
#ytarget = 0     # default: lambda; possible: um
#ztarget = 0     # default: lambda; possible: um
# абсолютная фаза импульса
phase = 0 pi # default: 0; default units: rad, possible: pi
# добавление лазерных импульсов - зеркальных отражений относительно
# плоскостей, проходящих через центр области моделирования
lp_reflection = xy&xz&yz # default: off; possible: xy, xz, yz, xy&xz, xy&yz, xz&yz, xy&xz&yz
# заменяет в зеркальном отражении лазерного импульса соответствующее
# значение a0 на -a0, за счёт чего, например, можно изменить
# направление вращения поля в нём в случае циркулярной поляризации;
# нужно задавать для каждого из значений lp_reflection
f_reflection = off&off&y # default: off; possible: y, z, off&z, etc.
# phi!=0 полностью отменяет действие lp_reflection и f_reflection, при
# этом создаётся второй лазерный импульс - отражение первого
# относительно центра области; поля второго импульса при этом
# задаются в системе координат, дополнительно повёрнутой относительно
# оси x' на угол phi, отсчитываемый от y' к z'
phi = 0.5 pi # default: 0; default units: rad, possible: pi
# мощность/интенсивность/энергия/безразмерная амплитуда лазерного импульса
#P = 70 TW # peak power; default: cgs; possible: PW, TW
#I = 4e20 W/cm^2 # peak intensity; default: cgs; possible: W/cm^2
W = 50 J # default units: cgs; possible: J
#a0 = 0.9
# если a0y=a0z=0, то используются значения, вычисленные по
# polarization, P, I, W или a0
#a0y = 3.2
#a0z = 1.7
# Вторая гармоника задаётся таким образом, чтобы поперечный размер пучков первой
# и второй гармоник в перетяжке был одинаков. shenergy - относительная (по
# энергии) амплитуда второй гармоники в перетяжке. Амплитуда первой гармоники
# уменьшается так, чтобы суммарная энергия гармоник оставалась равной энергии,
# заданной через a0, a0y, W и т. п. shphase - фаза второй гармоники относительно
# первой.
shenergy = 1 # default = 0
shphase = 0 pi # default: 0; default units: rad, possible: pi

# движущееся окно; выключается при наличии нейтральных потоков (flows)
mwindow = off # default: on; possible: on, off, auto
# в случае использования auto окно автоматически перемещается на основе
# параметра mwtolerance, который задает максимальный относительный уровень
# плотности энергии ЭМ поля на правой границе (2 слоя)
#mwtolerance = 1e-6 # default: 1e-6
# moving window velocity
#mwspeed = 0.4 # default: 1, игнорируется при mwindow = auto
# включает или отключает добавление электронов на передней границе области при работе движущегося
# окна; таким образом, при mwseed_ions = off ионы считаюстя неподвижными
#mwseed = on # default: on; possible: on, off
# If turned on, ions are putted at the front (right) side of the simulation box while moving window
# is working.
#mwseed_ions = on # default: off; possible: on, off
# Mass-to-charge ratio of the ions (in that for the protons) which are added on the right boundary
# of the simulation box while the box is moving.
#mw_mcr = 2 # default: 1

# компоненты полей для вывода в файл
e_components_for_output = xyz # default: none; possible: x, y, z, xy, xz, yz, xyz
b_components_for_output = xyz # default: none; possible: x, y, z, xy, xz, yz, xyz
# компоненты тока для вывода в файл
j_components_for_output = xyz # default: none; possible: x, y, z, xy, xz, yz, xyz
# расстояние от правой границы области до плоскости yz, данные в
# которой выводятся в файл;
#x0fout = 9 # default value: xlength/2; default units: lambda; possible: um, fs

# пучок частиц
beam = on # default: off; possible: on, off
# тип частиц пучка
beam_particles = ph # default: e; possible: e, p, ph
# число частиц в пучке
Nb = 1e4
# энергия частиц в пучке; в слечае epsb<0 пучок летит справа налево
epsb = 50 # MeV; possible: mc^2
# размеры пучка: xb - половина длины пучка, rb - радиус пучка
xb = 9 # default: lambda; possible: um, fs
rb = 4 # default: lambda; possible: um
# расстояние от правой границы области до центра пучка
x0b = 9 # default: lambda; possible: um, fs
# энергия частиц в пучке; в слечае epsb<0 пучок летит в противоположном направлении
epsb = 50 # MeV; possible: mc^2
# размеры пучка: xb - половина длины пучка, rb - радиус пучка
xb = 9 # default: lambda; possible: um, fs
rb = 4 # default: lambda; possible: um
# расстояние от правой границы области до центра пучка
x0b = 9 # default: lambda; possible: um, fs
# координата центра пучка по y относительно центра области
y0b = 0 # default: lambda; possible: um
# направление распространения пучка в плоскости xy (phib = 0 deg - по оси x, phib = 90 deg - по оси y, и т.д.)
phib = 0 deg # default: rad

# включение ионов (только для плёнок)
ions = off # default: off; possible: on (uses mcr), positrons (mcr is ignored, ions are initiated as positrons)

# список плёнок; все параметры плёнки должны быть обязательно
# определены после film = on для данной плёнки и до того, как
# встретится film = on для следующей плёнки
film = off # default: off; possible: on
# расстояние от левой границы области до левой границы плёнки
x0film = 9 # default: 0; default units: lambda, possible: um, fs
# полная толщина плёнки
filmwidth = 0.2 # default: lambda, possible: um, fs
# толщина части плёнки с линейным ростом плотности от 0 до nfilm
gradwidth = 0 # default units: lambda, possible: um, fs
# координаты нижней и верхней границ плёнки
#y0film = 10  # default: 0; default units: lambda, possible: um, fs
#y1film = 30  # default: ylength; default units: lambda, possible: um, fs
# то же для z
#z0film = 10  # default: 0; default units: lambda, possible: um, fs
#z1film = 20  # default: zlength; default units: lambda, possible: um, fs
# концентрация электронов в плёнке
nfilm = 0.5 ne # default: cm^{-3}; possible: ncr, ne
# отношение массы (в массах протона) к заряду (в зарядах протона) для
# иона плёнки
mcr = 1 # default: 1
# безразмерная температура электронов плёнки, f ~ e^(-(\gamma-1) / T)
# для ионов T -> T * cmr (cmr = 1 для позитрона), хотя это не вполне корректно
#Tfilm = 0.1 # default: 0
# число рядов частиц в ячейке по координатам для данной пленки;
# по умолчанию равно xnpic, ynpic, znpic соответственно
#xnpic_film = 1
#ynpic_film = 1
#znpic_film = 1
#
film = off # default: off; possible: on
x0film = 11 # default: 0; default units: lambda, possible: um, fs
filmwidth = 0.4 # default: lambda, possible: um, fs
gradwidth = 0 # default: 0; default units: lambda, possible: um, fs
nfilm = 0.25 ne # default: cm^{-3}; possible: ncr, ne
mcr = 2 # default: 1

# neutral (elecrons+ions) flows, left and right
# (neflow!=0 turns off mowing window)
#nelflow = 1 ne # default units: ne
vlflow = 0.999 # default: 0
mcrlflow = 5.4452e-4 # positrons
# безразмерная температура электронов в сопутствующей потоку системе отсчёта,
# f ~ e^(-(\gamma-1) / T)
# для ионов T -> T * cmr, хотя это не вполне корректно
Tlflow = 0.1 # default: 0
#nerflow = 1 ne # default units: ne
vrflow = 0.999 # default: 0
mcrrflow = 5.4452e-4
Trflow = 1e-3 # default: 0

# число рядов частиц в ячейке по координатам
xnpic = 1
ynpic = 1
znpic = 1

# сорта частиц, данные о которых следует выводить в файл
particles_for_output = epph # default: e; possible: e, ep, eph, epph

# шаг по энергии в спектре, число точек в спектре и отношение общего
# числа частиц к числу частиц, все характеристики которых выводятся в
# файл, для разных сортов частиц
deps = 1 MeV # default: MeV; possible: mc^2
neps = 800
enthp = 20
#deps_p = 0.5 MeV # default value = deps; default units: MeV; possible: mc^2
#neps_p = 140 # default = neps
#enthp_p = 1 # default = enthp
#deps_ph = 0.5 MeV # default value = deps; default units: MeV; possible: mc^2
#neps_ph = 800 # default = neps
#enthp_ph = 10 # default = enthp
# шаг по энергии в ионном спектре в MeV на нуклон
deps_i = 0.5
#neps_i = 800 # default = neps
#enthp_i = 10 # default = enthp

# "отлавливание" частиц, улетающих за границы расчетной области; с периодичностью output_period
# данные о частицах, вылетевших с момента последнего вывода, отправляются в файлы
# важно: не работает при включенном движущемся окне!
catching = off # default: off; possible: on

# запись характеристик излученных жестких фотонов в файлы deleted_ph (вместо дальнейшего обсчета их распространения);
# полезно в задачах, где не требуется учет распада фотонов на пары, и позволяет значительно экономить память
# работает в т.ч. при включенном движущемся окне
dump_photons = off # default: off; possible: on

# число частиц каждого сорта для вывода их траекторий в файл
n_tracks = 100 # default = 0
# виды частиц, траектории которых выводятся в файл
particles_to_track = epgi # default: epgi, possible: none, e, ep, eg, epg, epgi, egi ...
# момент включения алгоритма вывода траекторий частиц
tr_start = 7 # default value = 0; default units: lambda; possible: um, mm, cm
#tr_init = volume # default: line; possible: volume
# координаты концов прямого отрезка (tr_init = line) или диагональ
# прямоугольного параллелепипеда (tr_init = volume), с которого в
# момент времени tr_start берутся частицы для отслеживания траекторий;
# default value = 0
xtr1 = 8.5 # default: lambda; possible: um, fs
ytr1 = 9.25 # default: lambda; possible: um
ztr1 = 9.25 # default: lambda; possible: um
xtr2 = 9.5 # default: lambda; possible: um, fs
ytr2 = 9.25 # default: lambda; possible: um
ztr2 = 9.25 # default: lambda; possible: um

# алгоритм слияния квазичастиц; nl - nonlinear(q), ti -
# type-independently
pmerging = ti # default: off; possible: nl, ti
# критическое отношение числа квазичастиц одного сорта к числу ячеек
crpc = 2.0

# включение и выключение КЭД-эффектов
qed = on # default: on; possible: off

# выбор пушера частиц
pusher = vay # default: vay; possible: boris

# выбор метода моделирования ЭМ поля
solver = ndfx # default: ndfx; possible: fdtd

# блок динамической балансировки
# включение и выключение балансировки
balancing = on # default: off, possible: on, off
# порог дисбаланса, при превышении которого производится балансировка
# дисбаланс = max_weight / min_weight - 1
balancing_threshold = 0.2 # default: 0.1
# период проверки и проведения балансировки (в итерациях кода)
# балансировка проводится, только если превышен порог
balancing_every = 10 # default: 20
# вес частицы (вес пустой ячейки равен 1)
balancing_particle_weight = 2.5 # default: 3.0

# имя папки для результатов
data_folder = res_hb # default: results
